			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/sha2017camp" target="_blank" rel="noopener noreferrer" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/SHA2017Camp/" target="_blank" rel="noopener noreferrer" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://github.com/sha2017" target="_blank" class="icon alt fa-github" rel="noopener noreferrer"><span class="label">GitHub</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Adapted from a design by <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{{ paths.theme }}/assets/js/jquery.min.js"></script>
			<script src="{{ paths.theme }}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{ paths.theme }}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ paths.theme }}/assets/js/jquery.scrollex.min.js"></script>
			<script src="{{ paths.theme }}/assets/js/skel.min.js"></script>
			<script src="{{ paths.theme }}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ paths.theme }}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ paths.theme }}/assets/js/main.js"></script>
			<script src="{{ paths.theme }}/assets/js/simple-expand.min.js"></script>
			<script type="text/javascript">
      	      $(function () {
              $('.expander').simpleexpand();
              });
   		    </script>

	</body>
</html>