{{ include('partials/_header.twig') }}
{{ include ('partials/_navbar.twig') }}
				<section id="two" class="wrapper style1 special">

<span id="listingtitle"><h2>{{ record.title }}</h2></span>
				<div class="container">


<div class="recorddate">{{ record.datepublish | date("F jS Y") }}</div>
<div align="left">
{{ record.body }}
</div>
						<div class="box alt">
						

						<footer class="major">
							<ul class="actions">
								<li><a href="https://tickets.sha2017.org" class="scrolly button">Buy tickets</a></li>
							</ul>
						</footer>
				</div>
				</section>

{{ include('partials/_filler.twig') }}
{{ include('partials/_signup.twig') }}
{{ include('partials/_filler.twig') }}
{{ include('partials/_footer.twig') }}
